.cred{

	float: right;
	display: inline;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.main_box{
	float: right;
	display: inline-block;
}

.main_side_link{
	margin-bottom: 10px;
	width: 100%;
}
